<h1 class="text-center">Filtro</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="filtro">
      <%= form_for(@filter, :html => {class: "form-filter", role: "form"}, url: filter_path) do |f| %>
      <div class="form-group">
        <div>
          <%= f.text_field :query, class: "form-control", placeholder: "Área" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8">
          <%= f.radio_button :type, "Area", checked: true %> Area <br>
          <%= f.radio_button :type, "SubArea" %> SubArea <br>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label">
          <%= f.label "Status" %>
        </div>
        <div>
          <%= f.check_box :status, checked: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Pesquisar", class: "btn btn-default btn-xs" %>
      </div>
      <% end %>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <th>Área de conhecimento</th>
        <th>SubÁrea</th>
        <th>Acoes</th>
        <th>Status</th>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
          <tr>
            <th><%= area.name %></th>
            <td></td>
            <td class="text-center">
              <%= link_to 'Editar', edit_area_path(area), class: "btn btn-xs btn-primary" %> |
              <%= link_to 'Deletar', area_path(area), method: :delete,
                                                        data: {confirm: "Você tem certeza?"},
                                                        class: "btn btn-xs btn-danger" %>
            </td>
            <% if area.status %>
            <td>Ativo</td>
            <% else %>
            <td>Inativo</td>
            <% end %>
          </tr>
          <% if area.subareas.any? %>
            <% area.subareas.each do |subarea| %>
              <tr>
                <th></th>
                <td><%= subarea.name %></td>
                <td class="text-center">
                  <%= link_to 'Editar', edit_subarea_path(subarea), class: "btn btn-xs btn-primary" %> |
                  <%= link_to 'Deletar', subarea_path(subarea), method: :delete,
                                                            data: {confirm: "Você tem certeza?"},
                                                            class: "btn btn-xs btn-danger" %>
                </td>
                <% if subarea.status %>
                <td>Ativo</td>
                <% else %>
                <td>Inativo</td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p>
      <%= link_to 'Criar nova area', new_area_path, class: "btn btn-primary" %>
    </p>
    <p>
      <%= link_to 'Criar nova subarea', new_subarea_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>
