<%= render 'shared/errors', obj: @area %>

<div class="row">
  <div class="col-xs-12">
  <%= form_for(@area, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :name %><br>
      </div>
      <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Nome da Área", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :status %><br>
      </div>
      <div class="col-sm-8">
          <%= f.check_box :status, checked: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>

    <div class="text-center">
      [ <%= link_to 'Cancelar inserção e voltar para o filtro', root_path %> ]
    </div>
  </div>
</div>
