<!DOCTYPE html>
<html>
  <head>
    <title>SistemaDeGestaoDeFornecedores</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/messages' %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
